@model IEnumerable<Edi.LightBlog.Models.Category>

@Html.Partial("_AdminMenu")

<div class="pull-right">
    <a asp-action="Create" class="btn btn-success">
        <i class="fa fa-plus"></i>
        New
    </a>
</div>

<div class="bor-10"></div>

@if (null == Model || !Model.Any())
{
    <div class="alert alert-info">
        <i class="fa fa-info"></i>
        You don't have any categories yet.
    </div>
}
else
{
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RouteName)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RouteName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
        </tbody>
    </table>
}