@Html.Partial("_AdminMenu")
@using Edi.LightBlog.Core
@using Microsoft.Extensions.Options;
@inject IOptions<AppSettings> Settings
    
<h4>Summary</h4>
<section class="blog-summary">

</section>

<h4>Blog Configuration</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Title
            </td>
            <td>
                @Settings.Value.Title
            </td>
        </tr>
        <tr>
            <td>
                Admin Name
            </td>
            <td>
                @Settings.Value.AdminName
            </td>
        </tr>
        <tr>
            <td>
                Copyright
            </td>
            <td>
                @Settings.Value.Copyright
            </td>
        </tr>
        <tr>
            <td>
                Meta Keyword
            </td>
            <td>
                @Settings.Value.MetaKeyword
            </td>
        </tr>
        <tr>
            <td>
                TimeZone
            </td>
            <td>
                @Settings.Value.TimeZone
            </td>
        </tr>
    </tbody>
</table>


<h4>Server Information</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>.NET Core CMD Parameter</td>
            <td>@Environment.CommandLine</td>
        </tr>
        <tr>
            <td>Current Directory</td>
            <td>@Environment.CurrentDirectory</td>
        </tr>
        <tr>
            <td>Is 64 Bit Operating System</td>
            <td>@Environment.Is64BitOperatingSystem</td>
        </tr>
        <tr>
            <td>Is 64 Bit Process</td>
            <td>@Environment.Is64BitProcess</td>
        </tr>
        <tr>
            <td>Machine Name</td>
            <td>@Environment.MachineName</td>
        </tr>
        <tr>
            <td>OS Version</td>
            <td>@Environment.OSVersion</td>
        </tr>
        <tr>
            <td>CLR Version</td>
            <td>@Environment.Version</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>@Environment.UserName</td>
        </tr>
    </tbody>
</table>